/* Estils generals */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    text-align: center;
}

header {
    background: linear-gradient(to right, #0077b6, #00a8e8);
    color: white;
    padding: 20px;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

main {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.infografia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: #00a8e8;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card h3 {
    margin-top: 0;
}
